---
title: "VocaDB Verification"
permalink: /vocadb-verification/
---

VocaDB user Kona4621, HeadHunter4621 (GitHub account), and KougaP are the same person.
